// $color1: rgb(249, 212, 65);
$color1:#D94364;
$color2: rgb(56, 49, 38);

$color3: rgb(235, 235, 235);
$color1-opacity-50: rgba(249, 212, 67, 0.5);
$color2-opacity-70: rgba(56, 49, 38, 0.7); 
$color3-opacity-70: rgb(235, 235, 235);


$primary: $color1;
$secondary: $color2;

$font-family-sans-serif: "Noto Sans", sans-serif;
$border-radius: 5px;